body {
    font-family: arial, sans-serif;
}

#wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: lightgray;
}

header {
    text-align: center;
}

#current {
    text-align: center;
}

.hrs {
    width: 80px;
}

.mins {
    width: 35px;
}

.eng {
    width: 90%;
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px;
}

.eng p {
    margin-bottom: 5px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.highlight {
    border: 2px solid #3f3;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px;
}

.error {
    color: red;
}

footer {
    font-size: 0.8em;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    display: inline-block;
    margin: 0 10px 0 0;
}

input {
    border-radius: 5px;
}